{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2017",
    "externalHelpers": false,
    "keepClassNames": true,
    "loose": false,
    "minify": {
      "compress": false,
      "mangle": false
    },
    "baseUrl": "src",
    "paths": {
      "@/*": ["*"],
      "@config": ["infrastructure/config"],
      "@controllers/*": ["infrastructure/controllers/*"],
      "@database": ["infrastructure/database"],
      "@dtos/*": ["application/dtos/*"],
      "@entities/*": ["domain/entities/*"],
      "@exceptions/*": ["infrastructure/exceptions/*"],
      "@interfaces/*": ["domain/interfaces/*"],
      "@middlewares/*": ["infrastructure/middlewares/*"],
      "@routes/*": ["infrastructure/routes/*"],
      "@services/*": ["application/services/*"],
      "@utils/*": ["shared/utils/*"],
      "@repositories/*": ["infrastructure/repositories/*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
