<mat-dialog-actions>
  <button mat-button color="red" (click)="onNoClick()">Cerrar</button>
</mat-dialog-actions>
<mat-dialog-content>
  <div class="tw-flex tw-justify-center">
    <div class="tw-bg-white tw-p-8 tw-rounded-lg tw-shadow-lg tw-w-full tw-max-w-md">
      <h2 class="tw-text-2xl tw-font-bold tw-mb-6">Resetear contraseña</h2>
      <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Usuario</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput formControlName="username" />
          @if(f.username.touched && f.username.invalid) {
          <mat-hint class="m-b-16 error-msg">
            @if(f.username.errors &&
            f.username.errors['required']) {
            <div class="text-error">Usuario es requerido.</div>
            }
          </mat-hint>
          }
        </mat-form-field>
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nueva contraseña</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput formControlName="password" type="password" />
          @if(f.password.touched && f.password.invalid) {
          <mat-hint class="m-b-16 error-msg">
            @if(f.password.errors &&
            f.password.errors['required']) {
            <div class="text-error">Contraseña es requerida.</div>
            }
          </mat-hint>
          }
        </mat-form-field>

        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Confirmar contraseña</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput formControlName="confirmPassword" type="password" />
          @if(f.confirmPassword.touched && f.confirmPassword.invalid) {
          <mat-hint class="m-b-16 error-msg">
            @if(f.confirmPassword.errors &&
            f.confirmPassword.errors['required']) {
            <div class="text-error ">Confirmar contraseña es requerida.</div>
            }
          </mat-hint>
          }
        </mat-form-field>

        <div class="tw-flex tw-justify-center tw-mt-6">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Resetear</button>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>